/* scrollbar.css */

/* WebKitブラウザのスクロールバーをカスタマイズする */
/* スクロールバー全体 */
::-webkit-scrollbar {
  width: 12px;
}

/* スクロールバーのトラック（バックグラウンド） */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* スクロールバーのスクロール可能領域 */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* スクロールバーのコーナー */
::-webkit-scrollbar-corner {
  background: transparent;
}
